/*

nesting 

.btn {
    width: 200px;
    padding: 10px 0;
    background: none;
    border:none;
    border-radius: 10px;

    &.btn-orange {
        background-color: orange;
        color: #fff;
    }
}

*/

/*variaveis e imports
e como usar variaves importadas
*/

@import "variaveis.scss";
@import "button.scss";


p {
    color: $bg-color;
    font-size: 1em;
    font-weight: 700;
}
